@page
@model RevendaVeiculos.Dominio.Entidades.Proprietario
@{

}

@if (ViewBag.Mensagem != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Mensagem
    </div>
}

<div class="text-center">
    <h1 class="display-4">Cadastrar Proprietário</h1>
    <p>Formulário de Proprietario (Dono) de veículos</p>
</div>

<form method="post">
    <div class="row">
        <div class="form-group col-6">
            <label for="nomeInput">Nome</label>
            @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", @id = "nomeInput", @required = "required", @type = "text" } })
            <small id="nomeHelp" class="form-text text-muted">Digite um nome.</small>
        </div>
        <div class="form-group col-5">
            <label for="docInput">Documento</label>
            @Html.EditorFor(model => model.Documento, new { htmlAttributes = new { @class = "form-control", @id = "documentoInput", @required = "required", @type = "text" } })
            <small id="docHelp" class="form-text text-muted">Digite um valor.</small>
        </div>
    </div><div class="row">
        <div class="form-group col-6">
            <label for="docInput">Email</label>
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @id = "emailInput", @required = "required", @type = "email" } })
            <small id="emailHelp" class="form-text text-muted">Digite um email.</small>
        </div>
        <div class="form-group col-6">
            <label for="cepInput">CEP</label>
            @Html.EditorFor(model => model.Endereco.Cep,
           new
                {
                    htmlAttributes =
           new { @class = "form-control", @id = "cepInput", @required = "required", @type = "number", onfocusout = "consultaEndereco(this.value)" }
                })
            <small id="cepHelp" class="form-text text-muted">Digite um cep.</small>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-6">
            <label for="estadoInput">Estado</label>
            @Html.EditorFor(model => model.Endereco.Estado,
           new
                {
                    htmlAttributes = new
                    {
               @class = "form-control",
                        @id = "estadoInput",
                        @required = "required",
                        @type = "text"
                    }
                })
            <small id="cepHelp" class="form-text text-muted">Digite um cep.</small>
        </div>
        <div class="form-group col-6">
            <label for="cidadeInput">Cidade</label>
            @Html.EditorFor(model => model.Endereco.Cidade,
          new
               {
                   htmlAttributes = new
                   {
              @class = "form-control",
                       @id = "cidadeInput",
                       @required = "required",
                       @type = "text"
                   }
               })
            <small id="cidadeHelp" class="form-text text-muted">Digite uma cidade.</small>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-6">
            <label for="cidadeInput">Bairro</label>
            @Html.EditorFor(model => model.Endereco.Bairro,
       new
            {
                htmlAttributes = new
                {
           @class = "form-control",
                    @id = "bairroInput",
                    @required = "required",
                    @type = "text"
                }
            })
            <small id="bairroHelp" class="form-text text-muted">Digite um bairro.</small>
        </div>
        <div class="form-group col-6">
            <label for="cidadeInput">Rua</label>

            @Html.EditorFor(model => model.Endereco.Rua,
     new
          {
              htmlAttributes = new
              {
         @class = "form-control",
                  @id = "ruaInput",
                  @required = "required",
                  @type = "text"
              }
          })
            <small id="ruaHelp" class="form-text text-muted">Digite uma rua.</small>
        </div>

    </div>
    <div class="row">
        <div class="form-group col-6">
            <label for="numeroInput">Número</label>
            @Html.EditorFor(model => model.Endereco.Numero,
     new
          {
              htmlAttributes = new
              {
         @class = "form-control",
                  @id = "numeroInput",
                  @required = "required",
                  @type = "number"
              }
          })
            <small id="ruaHelp" class="form-text text-muted">Digite um numero.</small>
        </div>
        <div class="form-group col-6 d-none">
            <label for="servicoInput">Servico</label>
            <input type="text"
                   class="form-control"
                   id="servicoInput"
                   aria-describedby="servicoHelp"
                   placeholder=" "
                   name="Endereco.Servico"
                   value="Api">
            <small id="servicoHelp" class="form-text text-muted"></small>
        </div>
         </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
    @Html.ActionLink("Voltar", "Index", "Proprietario", null, new { @class = "btn btn-secondary" })
</form>

<script>
    function consultaEndereco(value) {
        console.log(value);
        if (value.length == 8) {
            $.ajax({
                type: 'GET',
                dataType: 'json',
                url: '/Proprietario/ConsultaEndereco',
                data: { cep: value },
                success: function (Data) {
                    console.log(Data.result);
                    if (Data.result != undefined) {
                        var endereco = Data.result;
                        $("#estadoInput").val(endereco.estado);
                        $("#cidadeInput").val(endereco.cidade);
                        $("#bairroInput").val(endereco.bairro);
                        $("#ruaInput").val(endereco.rua);
                    } else {
                        $("#numeroInput").val('');
                        $("#estadoInput").val('');
                        $("#cidadeInput").val('');
                        $("#bairroInput").val('');
                        $("#ruaInput").val('');
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {

                }
            });
        }
        else {
            $("#numeroInput").val('');
            $("#estadoInput").val('');
            $("#cidadeInput").val('');
            $("#bairroInput").val('');
            $("#ruaInput").val('');
        }
    }
</script>