@page
@model RevendaVeiculos.Dominio.Entidades.Veiculo
@{

}

@if (ViewBag.Mensagem != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Mensagem
    </div>
}

<div class="text-center">
    <h1 class="display-4">Cadastrar Veiculo</h1>
    <p>Formulário de veículos</p>
</div>

<form method="post">
    <div class="row">
        <div class="form-group col-6">
            <label for="nomeInput">Renavam</label>
            <input type="text"
                   class="form-control"
                   id="renavamInput"
                   aria-describedby="renavamHelp"
                   placeholder="Digite um valor"
                   name="Renavam">
            <small id="renavamHelp" class="form-text text-muted">Digite um valor.</small>
        </div>
        <div class="form-group col-6">
            <label for="nomeInput">Modelo</label>
            <input type="text"
                   class="form-control"
                   id="modeloInput"
                   aria-describedby="modeloHelp"
                   placeholder="Digite um modelo"
                   name="Modelo">
            <small id="modeloHelp" class="form-text text-muted">Digite um modelo.</small>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-6">
            <label for="anoInput">Ano</label>
            <input type="number"
                   class="form-control"
                   id="anoInput"
                   aria-describedby="anoHelp"
                   placeholder="Digite um ano"
                   name="AnoModelo">
            <small id="anoHelp" class="form-text text-muted">Digite um ano.</small>
        </div>
        <div class="form-group col-6">
            <label for="quilometragemInput">Quilometragem</label>
            <input type="number"
                   class="form-control"
                   id="quilometragemInput"
                   aria-describedby="quilometragemHelp"
                   placeholder="Digite um valor"
                   name="Quilometragem">
            <small id="quilometragemHelp" class="form-text text-muted">Digite um valor.</small>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-6">
            <label for="valorInput">Valor</label>
            <input type="number"
                   class="form-control"
                   id="valorInput"
                   aria-describedby="valorHelp"
                   placeholder="Digite um valor"
                   name="Valor">
            <small id="valorHelp" class="form-text text-muted">Digite um valor.</small>
        </div>


        <div class="form-group form-check col-6">
            <label for="valorInput">Proprietario</label>
            <select class="form-control" name="proprietario">
                <option value="">Selecione um item</option>
                @if (ViewBag.Proprietario != null)
                {
                    @foreach (var item in ViewBag.Proprietario)
                    {
                        <option value="@item.Id">@item.Nome</option>
                    }
                }
            </select>
        </div>
        <div class="form-group form-check col-6">
            <label for="valorInput">Marca</label>
            <select class="form-control" name="marca">
                <option value="">Selecione um item</option>
                @if (ViewBag.Marca!=null)
                {
                    @foreach (var item in ViewBag.Marca)
                    {
                        <option value="@item.Id">@item.Nome</option>
                    }
                }

            </select>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
    @Html.ActionLink("Voltar", "Index", "Proprietario", null, new { @class = "btn btn-danger" })
</form>

